<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo Today</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="./assets/css/master.css">
  </head>
  <body>
    <header>
      <h1>Todo Today</h1>
    </header>
    <main>
      <div id="app" class="container-list">
        <ul>
        <li v-for="(todo, i) in eventcomputed">
          <span class="title" :class="(todo.status == 'done') ? 'line-tr' : ''">{{ todo.title }}</span>
          <span class="icon"> <i class="fas fa-edit" v-if="todo.status != 'done'"></i>
          <i class="fas fa-check" v-if="todo.status != 'done'" @click= "check(i)"></i>
          <i class="fas fa-trash"  v-if="todo.status == 'done'" @click= "remove(i)"></i></span>
        </li>
        </ul>
        <input v-model="inputTxt"
          type="text" class="write"
          placeholder="Inserisci un qualcosa da fare" @keyup.enter="aggiungi" >
      </div>

    </main>
    <footer>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./assets/js/main.js" charset="utf-8"></script>
  </body>
</html>
